body{
    text-align: center;
}
.container{
    padding-top: 50px;
}
h1{
    color: blue;
}
#page-title, h2{
    font-family: Mina, sans-serif;
    text-transform: uppercase;
}
.chat{
    margin-top: 25px;
}

.chatbox {
    text-align: left;
    padding: 5px 5px;
    height: 200px;
    overflow-y: scroll;
}
.chat-message{
    line-height: 1;

}
.chat-message .span{
    color: red;
}
.display{
    display: none;
}
.border{
    border: 2px solid greenyellow;
}
.red{
    color: red;
}
.green{
    color: green;
}