body{
    text-align: center;
}

h1{
    color: blue;
}

.chat{
    margin-top: 25px;
}

.chatbox {
    text-align: left;
    padding: 5px 5px;
    height: 200px;
    overflow-y: scroll;
}
.chat-message{
    line-height: .5;

}
.chat-message .span{
    color: red;
}
.display{
    display: none;
}